/* Logo Styling */
.logo img {
    width: 80%;
    max-width: 100px;
    height: auto;
}

/* General Body Styling */
body {
    background-image: url('registrar.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid yellow;
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
}

/* Navigation */
.navbar {
    display: flex;
    gap: 15px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 0.5rem 1rem;
    transition: color 0.25;
   
}

.nav-links a::after{
    position: absolute;
    content: "";
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

.nav-links a:hover {
    color: black;
}
.nav-links a:hover::after{
    scale: 1 1;

}

/* Hero Section Styling */
.hero {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    backdrop-filter: blur(5px);
}

/* Campus Map Styling */
.map-section {
    background-color: rgba(146, 119, 119, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid white;
}



.program summary:hover {
    color: yellow;
}

.map-image {
   width: 400px;
   height: auto;
    margin: 10px auto;
    display: block;
    
    border-radius: 10px;
}

/* Academic Programs Section */
.programs-section {
    padding: 40px 20px;
    background: rgba(0, 0, 0, 0.5);
}

.programs-section h2 {
    text-align: center;
    font-size: 2.5rem;
    color: yellow;
    margin-bottom: 20px;
}

.program {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid white;
}

.program summary {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.program summary:hover {
    color: yellow;
}

.program img {
    max-width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}
